<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>

        <!-- Symfony PHPUnit Bridge (optional) -->
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- What code coverage should consider as "source" -->
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <!-- Enable coverage collection (configure driver via Xdebug/PCOV) -->
    <coverage/>
</phpunit>
