<!-- Header -->
<div class="row">
    <div class="col-12">
        <div class="card card-wrapper">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-4">
                        {% include 'includes/badges/github.html.twig' %}
                        {% include 'includes/badges/discord.html.twig' %}
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4 d-flex justify-content-end">
                        {% if app.current_route != 'welcome' %}
                            <div class="me-2">{% include 'includes/alerts.html.twig' %}</div>
                            {% if form is defined %}
                                {{ form(form) }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
